/* --------------header----------------------- */
.header {
  color: #ffffff;
  background-color: #00284d;
  position: fixed;

  z-index: 1;
  width: 100%;
}
/* -----------------HOME---------------------- */
.carousel {
  height: 300px;
}
span {
  color: #00ccff;
}
/* -----------------ABOUT US--------------- */
.about {
  margin-top: 30px;
  display: flex;
  background-color: #e6e6e6;
  height: 250px;
  width: 100%;
}
.head {
  /* margin-left: 12px; */
  background-color: #3399ff;
  color: #ffffff;
  height: 250px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.div2 {
  display: flex;
  justify-content: center;
  align-items: center;
}
h6 {
  text-align: center;
  margin-top: 10px;
}

.img {
  height: 150px;
  width: 150px;
  border-radius: 75px;
}
.profiles {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}
/* ----------------SERVICES----------------------- */
.services {
  margin-top: 30px;
  display: flex;
  background-color: #e6e6e6;
  height: 250px;
  width: 100%;
}
.serviceshead {
  /* margin-left: 12px; */
  background-color: #ff9900;
  color: #ffffff;
  height: 250px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.servicediv {
  display: block;
  margin-left: 75px;
}

.divclip {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 10px;
  height: 70px;
  width: 80px;
  background-color: #000000;
}
.divclip1 {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 10px;
  height: 70px;
  width: 80px;
  background-color: #ff9900;
}
.clip {
  align: center;
  height: 40px;
  width: 40px;
}
.servicediv3 {
  background-color: #ff9900;
  color: #ffffff;
  height: 250px;
  width: 80;
}
h4 {
  margin-top: 10px;
}
/* ----------------footer----------------------- */
.footer {
  color: #ffffff;
  display: flex;
  text-align: center;
  align-items: center;
  margin-top: 30px;
  background-color: #00284d;
  height: 100px;
}
